* {
  margin: 0;
  padding: 20;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.background {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #DFB0B0;
  z-index:-5;
  width: 45%;
  height: 100%;
}


nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  padding: 20px 0px;
}

.mynav.scrolled {
  background-color: white;
  box-shadow: 5px 5px 5px rgb(182, 182, 182);
}

.logo{
  margin-right: 20px;
}

.nav-list{
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-list li a {
  font-size: 15px;
  font-weight:600;
  width: 100px;
  transition: width 2s;
}

.nav-list li a:hover {
  text-decoration: 2px overline;
  color: #DFB0B0;
}

.nav-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

a{
  text-decoration: none;
  color: black;
}

.download-resume {
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 600;
  color: black;
  background-color: transparent;
  padding: 8px 20px;

}
.download-resume:hover {
  background-color: black;
  color: white;
}

.menu-btn {
  width: 10px;
  display: none;
}

.menu-btn:before,
.menu-btn:after,
.menu-btn div {
  background: #000000;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 5px 0;
  transition: 0.5s;
}
.menu-btn.open:before {
  transform: translateY(7px) rotate(135deg);
}
.menu-btn.open:after {
  transform: translateY(-9px) rotate(-135deg);
}
.menu-btn.open div {
  transform: scale(0);
}

#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 400px;
}

.home-content h1 {
  font-size: clamp(2rem, -0.0313rem + 6.5vw, 3.625rem);
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.profile{
  width: 100%;
  max-width: 500px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
#about{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#about h1 {
  font-size: clamp(2rem, -0.0313rem + 6.5vw, 3.625rem);
}
#about p{
  max-width: 800px;
}
#personal{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#personal h1{
  font-size: clamp(2rem, -0.0313rem + 6.5vw, 3.625rem);
}

.img-personal {
  max-width: 400px;
}
.info {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}
#education{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#education h1{
  font-size: clamp(2rem, -0.0313rem + 6.5vw, 3.625rem);
}
.img-education{
  max-width: 400px;
}

#contacts {
  font-size: clamp(2rem, -0.0313rem + 6.5vw, 3.625rem);
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.form {
  width: 100%;
  max-width: 500px;
  width: 100%;
}
.form-row {
  display: flex;
  width: 100%;
}

input[type="text"]{
  border: none;
  border-radius: 3px;
  padding: 8px 20px;
  margin: 5px;
  width: 100%;
}

input[type="email"] {
  border: none;
  border-radius: 3px;
  padding: 8px 20px;
  margin: 5px;
  width: 100%;
}

.submit-button {
  width: 100%;
  padding: 8px 20px;
  background-color: #DFB0B0;
  border-radius: 5px;
  margin: 5px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.view-projects{
  width: 150px; 
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 8px;
  font-weight: 600;
}

.view-projects:hover{
  background-color: black;
  color: white;
}

footer {
  display: flex;
  border-top: 1px solid black;
  justify-content: space-between;
  margin: 20px;
  padding: 5px;
  flex-direction: row;
}

.icon-group a{
  font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  padding: 2px;
}


@media only screen and (max-width: 1000px) {
  .background {
    display: none;
  }
  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  nav {
    background-color: white;
    width: 100%;
    padding: 10px;
  }
  .nav-list {
    position: fixed;
    background-color: white;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 8px;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    display: none;
  }
  .nav-list li {
    padding: 10px;
  }
  .nav-list.open {
    display: block;
  }
  .icon-group a{
    font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
    padding: 2px;

  }
  .download-resume{
    padding: 5px;
  }

  .menu-btn {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: black;
  }
  #personal {
    flex-direction: column;
  }
  #education{
    flex-direction: column;
  }
  #education div{
    order: 2;
  }
  .img-education {
    order: 1;
  }

 }
